@import '@/assets/fonts/pt_sans/stylesheet.css';
@import '@/assets/fonts/pt_serif/stylesheet.css';

body {
  margin: 0;
  padding: 0;
  color: var(--theme-color-content-black);
  font-weight: normal;
  font-family: 'PT Sans', 'Helvetica', 'Arial', sans-serif;
  font-style: normal;

  * {
    &,
    &::before,
    &::after {
      box-sizing: border-box;
    }
  }
}
