@import '@/assets/fonts/pt_sans/stylesheet.css';
@import '@/assets/fonts/ubuntu_mono/stylesheet.css';

@import './theme.scss';
@import './mixins.scss';

body {
  margin: 0;
  padding: 0;
  color: var(--color-text);
  font-weight: normal;
  font-size: 16px;
  font-family: 'PT Sans', 'Helvetica', 'Arial', sans-serif;
  font-style: normal;
  background: var(--body-background);

  * {
    &,
    &::before,
    &::after {
      box-sizing: border-box;
    }
  }
}

a {
  @include link;
}

code {
  font-family: 'Ubuntu Mono', monospace;
}
