$base: #1c1e21;
$base_dark: #f5f6f7;
$accent: #1467af;
$accent-light: lighten($accent, 25);

.theme {
  --color-accent: #{$accent};
  --color-link: #{$accent};
  --color-link-lighten: #{lighten($accent, 10)};
  --color-link-darken: #{darken($accent, 10)};
  --color-text: #{$base};
  --color-title: #44494f;
  --body-background: #fff;
  --color-theme-switcher-button-active: #fff;
  --color-theme-switcher-icon: #{$accent};
  --color-theme-switcher-fieldset: #{darken($base_dark, 2%)};

  &_dark {
    --color-accent: #{$accent-light};
    --color-link: #{$accent-light};
    --color-link-lighten: #{lighten($accent-light, 10)};
    --color-link-darken: #{darken($accent-light, 10)};
    --color-text: #{$base_dark};
    --color-title: #{$base_dark};
    --body-background: #18191a;
    --color-theme-switcher-button-active: #fff;
    --color-theme-switcher-icon: #{$accent};
    --color-theme-switcher-fieldset: #{darken($base_dark, 10%)};
  }
}
