$black: #121212;
$white: #fff;

$accent: #1467af;
$accent_light: lighten($accent, 25);

.theme {
  --color-accent: #{$accent};
  --color-link: #{$accent};
  --color-link-lighten: #{lighten($accent, 10)};
  --color-link-darken: #{darken($accent, 10)};
  --color-text: #{$black};
  --color-text-light: #{lighten($black, 30%)};
  --color-title: #{lighten($black, 20)};
  --body-background: #{$white};
  --background-secondary: #{darken($white, 2%)};
  --color-theme-switcher-button-active: #{$white};
  --color-theme-switcher-icon: #{$accent};
  --color-theme-switcher-fieldset: #{darken($white, 4%)};
  --color-image-placeholder: #{darken($white, 4%)};
  --button-color-text: #{$white};
  --button-background: #{$accent};
  --button-background-lighten: #{lighten($accent, 10)};
  --button-background-darken: #{darken($accent, 10)};

  &_dark {
    --color-accent: #{$accent_light};
    --color-link: #{$accent_light};
    --color-link-lighten: #{lighten($accent_light, 10)};
    --color-link-darken: #{darken($accent_light, 10)};
    --color-text: #{darken($white, 16%)};
    --color-text-light: #{lighten($black, 60%)};
    --color-title: #{darken($white, 16%)};
    --body-background: #{$black};
    --background-secondary: #{lighten($black, 2%)};
    --color-theme-switcher-button-active: #{lighten($black, 4%)};
    --color-theme-switcher-icon: #{$accent_light};
    --color-theme-switcher-fieldset: #{lighten($black, 8%)};
    --color-image-placeholder: #{lighten($black, 8%)};
    --button-color-text: #{$white};
    --button-background: #{$accent};
    --button-background-lighten: #{lighten($accent, 10)};
    --button-background-darken: #{darken($accent, 10)};
  }
}
