@import '@/styles/mixins';

.header {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.header__logo {
  margin-right: auto;
}

.header__nav,
.header__theme-switcher {
  margin-left: 32px;
}

.nav {
  display: flex;
}

.nav__item {
  @include link-reset;

  & + #{&} {
    margin-left: 16px;
  }
}
