@import '@/styles/mixins';

.header {
  display: flex;
  align-items: center;
  padding: 24px 0;
}

.header__logo {
  margin-right: auto;
  font-weight: bold;
  font-size: 22px;
}

.header__nav,
.header__theme-switcher {
  display: none;
  margin-left: 32px;

  @include tablet-up {
    display: flex;
  }
}

.header__burger-button {
  @include tablet-up {
    display: none;
  }
}

.nav__item {
  @include link-reset;
  @include link;

  color: inherit;

  & + #{&} {
    margin-left: 16px;
  }
}

.burger-button {
  @include button-reset;
  @include transition-default;

  display: flex;
  align-items: center;
  justify-content: center;
  stroke: var(--color-link);
  stroke: var(--color-text);

  &:hover {
    stroke: var(--color-link-lighten);
  }

  &:active {
    transform: scale(0.9);
    transition: none;
    stroke: var(--color-link-darken);
  }
}
