@mixin link-reset {
  color: inherit;
  text-decoration: inherit;

  &:hover,
  &:active {
    color: inherit;
    text-decoration: inherit;
  }
}

@mixin button-reset {
  margin: 0;
  padding: 0;
  color: inherit;
  font: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
