@import '@/styles/mixins';

.index-page-content__jumbotron {
  margin: 80px 0;
}

.jumbotron__col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content__title {
  margin-top: 0;
  color: var(--color-title);
  font-size: 48px;
}

.content__description {
  color: var(--color-title);
  font-size: 22px;
}

.content__image {
  img {
    max-width: 300px;
  }
}
