@use 'sass:math';

@import '@/styles/mixins';

.index-page-content__jumbotron {
  padding: 60px 0;
  background: var(--background-secondary);

  @include tablet-up {
    padding: 80px 0;
  }
}

.index-page-content__last-notes {
  margin: 60px 0;
}

.jumbotron__col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content__title {
  @include title-huge;

  margin: 0 0 32px 0;
  color: var(--color-title);
}

.content__description {
  margin-bottom: 32px;
  color: var(--color-text-light);
  font-size: 20px;
  line-height: 24px;

  @include tablet-up {
    font-size: 22px;
    line-height: 26px;
  }
}

.content__more {
  margin-bottom: 32px;

  @include phone-up {
    margin-bottom: 0;
  }
}

.content__image {
  img {
    max-width: 300px;
  }
}

.more {
  @include link-reset;
  @include transition-default;

  display: inline-block;
  padding: 12px 20px;
  color: var(--button-color-text);
  background: var(--button-background);
  border-radius: 8px;

  &:hover {
    color: var(--button-color-text);
    background: var(--button-background-lighten);
  }

  &:active {
    color: var(--button-color-text);
    background: var(--button-background-darken);
    transform: translateY(1px);
    transition: none;
  }
}

.last-notes-title {
  @include title-medium;

  display: block;
  margin-bottom: 32px;
  color: var(--color-title);
  font-weight: bold;
  text-align: center;
}

.notes-list-col {
  margin-bottom: 20px;
}
